.quiz-score {
  display: inline-block;
  min-width: 30em;
  text-align: center;
  &.success {
    background-color: green;
  }
  &.partial {
    background-color: yellow;
  }
  &.failure {
    background-color: red;
  }
}
