.billions-dialog {
  &--header,
  &--body,
  &--footer {
    min-width: 50rem;
  }
  &--header {
    margin: 1rem 0;

    h2 {
      text-align: left;
    }
    &--cross-container {
      text-align: right;
    }
  }
  &--body {
  }
  &--footer {
  }
}
