.auto-complete {
  &--wrapper {
    position: relative;
  }
  &--input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
  }
  &--selector {
    &-option {
      width: 100%;
      background: none;
      border: none;
      padding: 0.5rem;
      &:hover {
        background: #ddd;
      }
    }
  }
}
