#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root h1 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

form {
  margin-top: 2em;
}

a.active {
  font-weight: bold;
}

label.col-form-label {
  text-align: right;
}
