// Override default variables before the import
$body-bg: #eee;
$form-select-bg: white;
$form-select-border-color: #aaa;

// Import Bootstrap and its default variables
@import "bootstrap/scss/bootstrap.scss";

a.active {
  font-weight: bold;
}
