// Override default variables before the import
$body-bg: #fff;
$form-select-bg: white;
$form-select-border-color: #aaa;

// Import Bootstrap and its default variables
@import "bootstrap/scss/bootstrap.scss";
